<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Email Address" %>
  </div>
  <div class="field">
    <%= f.text_field :login, :placeholder => "Username" %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>