<h1>New Verse</h1>

<%= form_for @verse do |f| %>
  <div class="field">
    <%= f.label :ref %>
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions"><%= f.submit %></div>
<% end %>